<!--
<form method="post">
    <fieldset>
        <legend>ajouter Equipe</legend>
        <div >

            <table border="5">
                <tr>

                    <td>Pays</td>
                    <td>etat</td>
                    <td>Phase</td>
                    <td>Groupe</td>
                    <td>Selectionneur</td>
                    <td>point</td>
                    <td>drapeau</td>
                </tr>

                <tr>
                    <td> <input type ="text" value="{#{{ equipe.pays }}" id="pays"></td>
                    <td> <input type ="text" value="{{ equipe.etat }}"></td>
                    <td> <input type ="text" value="{{ equipe.phase }}"></td>
                    <td> <input type ="text" value="{{ equipe.groupe }}"></td>
                    <td> <input type ="text" value="{{ equipe.selecteur }}"></td>
                    <td> <input type ="text" value="{{ equipe.point }}"></td>
                    <td><img src="http://localhost/PiWeb/TeamFlags/{{ equipe.Liendrapeau }}#}" width="100" height="100"></td>

                </tr>

            </table>
            <button type="submit">modifier</button>
        </div>
    </fieldset>
</form>

-->
{{ form(form) }}
