<div id="div" class="recherche">
    <div class="container">
    <div class="row">
        {% for annonceCollocation in Annonces %}




            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <div class="labels d-flex justify-content-between position-absolute w-100">

                    </div>
                    <a href="#">
                        <img src="{{ asset('UploadsImages/' ~ annonceCollocation.image) }}" class="card-img-top" alt="Product">
                    </a>
                    <div>
                        {{ socialButtons() }}
                    </div>
                    <div class="card-body px-2 pb-2 pt-1">
                        <div class="d-flex justify-content-between">
                            <div>
                                <p class="h4 text-primary">{{ annonceCollocation.tarif }} par jour</p>
                            </div>

                        </div>
                    </div>

                    <p class="mb-0">
                        <strong>
                            <a href="#" class="text-secondary">{{ annonceCollocation.titreAnnonce }}</a>
                        </strong>
                    </p>
                    <p class="mb-1">
                        <small>
                            <a href="#" class="text-secondary">{{ annonceCollocation.description }}</a>
                        </small>
                    </p>

                    <div class="d-flex justify-content-between">
                        <div class="col px-0">
                            <button class="btn btn-outline-primary btn-block">
                                <a href="{{ path('annoncecollocation_show', { 'idAnnonce': annonceCollocation.idAnnonce }) }}">Plus de détails</a>
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="ml-2">
                            <a href="#" class="btn btn-outline-success" data-toggle="tooltip" data-placement="left" title="Add to Wishlist">
                                <i class="fa fa-heart" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>

            </div>

        {% endfor %}
    </div>
</div>
</div>